[submodule "mcpp"]
	path = mcpp
	url = https://github.com/yship1002/mcpp.git
	branch = master
[submodule "cereal"]
	path = cereal
	url = https://github.com/yship1002/cereal.git
	branch = master
[submodule "Crappy_Fuzzy_Problem_Library"]
	path = Crappy_Fuzzy_Problem_Library
	url = https://github.com/yship1002/Crappy_Fuzzy_Problem_Library
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen
